* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.grid-container {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu,
.copy {
  grid-column: 3 / -1;
  background-color: #ffbb55;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.menu ul {
  display: flex;
}
.menu li a {
  display: inline-block;
  padding: 17px 10px;
  text-decoration: none;
  margin-right: 20px;
  color: #222;
  font: bold 0.875rem/1 "Lucida Console", monospace;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.grid-section {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 4rem;
}
.titulo {
  grid-column: 1 / -1;
  font: 400 6rem/1 "Georgia", serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.animais h2 {
  font: bold 1rem/1.2 "Lucida Console", monospace;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  color: #e54;
}
.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: #fb5;
  margin-right: 8px;
}
.animais p {
  font: 400 1rem/1.2 "Arial", Helvetica;
  margin-bottom: 1rem;
}
.animais-lista {
  max-height: 370px;
  overflow: auto;
  grid-column: 2 / 3;
  cursor: pointer;
}
.animais-lista::-webkit-scrollbar {
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb {
  height: 40px;
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.animais-descricao section {
  margin-bottom: 2rem;
}

.faq-perguntas,
.contato {
  grid-column: 2/-1;
}

.faq-perguntas dt {
  font: bold 0.875rem/1.2 "Lucida Console", monospace;
  letter-spacing: 0.2em;
  color: #e54;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.faq-perguntas dt::before,
.contato li::before {
  content: "";
  display: inline-block;
  background-color: #fb5;
  width: 20px;
  height: 10px;
  margin-right: 15px;
}
.faq-perguntas dd {
  font: 400 1rem/1.2 "Arial", sans-serif;
  margin-bottom: 2rem;
  margin-left: 35px;
}
.mapa {
  grid-column: 2;
}
.copy p {
  padding: 10px;
  margin-right: 20px;
  color: #222;
  font: bold 0.875rem/1 "Lucida Console", monospace;
}
.contato li {
  font: 400 1rem/1.2 "Arial", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
  }
  .titulo {
    font-size: 3rem;
    grid-column: 1 / -1;
  }
  .menu {
    margin-top: 0;
  }
  .animais-lista {
    grid-column: 1;
  }
  .animais-descricao {
    grid-column: 2 / -1;
  }
  .faq-perguntas,
  .contato ul,
  .mapa {
    grid-column: 1 /-1;
  }
  .copy {
    margin-bottom: 0;
  }
}
.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: block;
}
[data-tab="content"] section.ativo.show-right {
  animation: show-right 0.5s forwards;
}
[data-tab="content"] section.ativo.show-down {
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.js [data-anime='accordion'] dt{
  cursor: pointer;
}
[data-anime='accordion'] dt::after{
  content: "⤵";
  margin-left: 20px;
}
[data-anime='accordion'] dt.ativo::after{
  content: "⤴";
  margin-left: 20px;
}
[data-anime='accordion'] dd {
  display: none;
}

[data-anime='accordion'] dd.ativo {
  display: block;
  animation: slideDown 0.5s;
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime='scroll'] {
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(-30px, 0, 0);
}
.js [data-anime='scroll'].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}